@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

#root {
  min-height: 100vh;
  background: #ececec;
}

.ptar-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ececec;
  background-image:
    linear-gradient(to right, rgba(185, 185, 185, 0.5) 3px, transparent 3px),
    linear-gradient(to bottom, rgba(185, 185, 185, 0.5) 3px, transparent 3px);
  background-size: 220px 220px;
  padding: 8px 0 32px;
}